<div class="container-fluid" style="margin-top: 10px;">
    {if="$fsc->albaranserv"}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning">Estos datos ya no pueden ser modificados.</div>
            <br/>
        </div>
    </div>
    {/if}
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                Nombre del cliente:
                <input class="form-control" type="text" name="nombrecliente" value="{$fsc->servicio->nombrecliente}" autocomplete="off" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}/>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                {#FS_CIFNIF#}:
                <input class="form-control" type="text" name="cifnif" value="{$fsc->servicio->cifnif}" autocomplete="off" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}/>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <a href="{$fsc->serie->url()}">Serie</a>:
                <select class="form-control" name="serie" id="codserie" onchange="usar_serie();recalcular();" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}>
                    {loop="$fsc->serie->all()"}
                    {if="$value->codserie==$fsc->servicio->codserie"}
                    <option value="{$value->codserie}" selected="">{$value->descripcion}</option>
                    {else}
                    <option value="{$value->codserie}">{$value->descripcion}</option>
                    {/if}
                    {/loop}
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                <select name="codpago" class="form-control" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}>
                    {loop="$fsc->forma_pago->all()"}
                    {if="!$fsc->servicio->codpago"}
                    <option value="{$value->codpago}"{if="$fsc->cliente_s->codpago == $value->codpago"} selected=""{/if}>{$value->descripcion}</option>
                    {elseif="$value->codpago==$fsc->servicio->codpago"}
                    <option value="{$value->codpago}" selected="">{$value->descripcion}</option>
                    {else}
                    <option value="{$value->codpago}">{$value->descripcion}</option>
                    {/if}
                    {/loop}
                </select>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="form-group">
                <a href="{$fsc->divisa->url()}">Divisa</a>:
                <select name="divisa" class="form-control" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}>
                    {loop="$fsc->divisa->all()"}
                    {if="$fsc->servicio->coddivisa==''"}
                    <option value="{$value->coddivisa}"{if="$value->is_default()"} selected=""{/if}>{$value->descripcion}</option>
                    {elseif="$value->coddivisa==$fsc->servicio->coddivisa"}
                    <option value="{$value->coddivisa}" selected="">{$value->descripcion}</option>
                    {else}
                    <option value="{$value->coddivisa}">{$value->descripcion}</option>
                    {/if}
                    {/loop}
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                Tasa de conversión a €
                <input type="text" name="tasaconv" class="form-control" placeholder="{$fsc->servicio->tasaconv}" autocomplete="off" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>
                <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                &nbsp; Dirección de facturación:
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <a href="{$fsc->pais->url()}">País</a>:
                <select class="form-control" name="codpais" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}>
                    {loop="$fsc->pais->all()"}
                    <option value="{$value->codpais}"{if="$value->codpais==$fsc->servicio->codpais"} selected=""{/if}>{$value->nombre}</option>
                    {/loop}
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <span class="text-capitalize">{#FS_PROVINCIA#}</span>:
                <input id="ac_provincia" class="form-control" type="text" name="provincia" autocomplete="off" value="{$fsc->servicio->provincia}" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                Ciudad:
                <input class="form-control" type="text" name="ciudad" autocomplete="off" value="{$fsc->servicio->ciudad}" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}/>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                Código Postal:
                <input class="form-control" type="text" name="codpostal" autocomplete="off" value="{$fsc->servicio->codpostal}" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                Dirección:
                <input class="form-control" type="text" name="direccion" value="{$fsc->servicio->direccion}" autocomplete="off" {if="!$fsc->servicio->editable() OR $fsc->servicio->idalbaran"} readonly=""{/if}/>
            </div>
        </div>
    </div>
</div>