{include="header2"}
<script type="text/javascript">window.print();
</script>
{if="$fsc->servicio"}
<div class="container">
   <div class="row">
      <div class="col-xs-6">
         <div class="col-xs-12">
            <strong>Nombre:</strong><br/>{$fsc->servicio->nombrecliente}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono fijo:</strong><br/>{$fsc->cliente->telefono1}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono móvil:</strong><br/>{$fsc->cliente->telefono2}
         </div>
         {if="$fsc->servicios_setup['servicios_mostrar_material']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_material']}</strong><br/>{$fsc->servicio->material}
         </div>
         {/if}
          {if="$fsc->servicios_setup['servicios_mostrar_material_estado']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_material_estado']}</strong><br/>{$fsc->servicio->material_estado}
         </div>
         {/if}
         {if="$fsc->servicios_setup['servicios_mostrar_accesorios']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_accesorios']}</strong><br/>{$fsc->servicio->accesorios}
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_descripcion']}</strong><br/>{$fsc->servicio->descripcion}
         </div>
         {if="$fsc->servicios_setup['servicios_mostrar_solucion']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_solucion']}:</strong><br/>{$fsc->servicio->solucion}
         </div>
         {/if}

         <div class="col-xs-12">
            <strong>Observaciones:</strong><br/>{$fsc->servicio->observaciones}
         </div>
      </div>
      <div class="col-xs-6">
         <h4 style="margin-top: 0px;"><strong>{$fsc->st['st_servicio']}: {$fsc->servicio->codigo}</strong>  | Fecha: {$fsc->servicio->fecha}</h4>
         
         <p>{$fsc->condiciones()}</p>
         <h4>
            Servicio prestado por:<br/><strong>{$fsc->empresa->nombre}</strong><br/>
            {if="$fsc->agente"}
            Le ha atendido el técnico:<br/><strong>{$fsc->agente->get_fullname()}</strong><br/>
            {/if}
            Tlf: <strong>{$fsc->empresa->telefono}</strong> Email: <strong>{$fsc->empresa->email}</strong><br/>
         </h4>
      </div>
      <p>...............................................................................................................................................................................................</p>
      <div class="col-xs-6">
         <div class="col-xs-12">
            <h4><strong>{$fsc->st['st_servicio']}: {$fsc->servicio->codigo}</strong></h4>
            <h5>
               {loop="fsc->listar_prioridad()"}
                  {if="$value['id_prioridad'] == $fsc->servicio->prioridad"}
                  {$value['nombre_prioridad']}
                  {/if}
               {/loop}
            </h5>
         </div>
         <div class="col-xs-12">
            <strong>Nombre:</strong><br/>{$fsc->servicio->nombrecliente}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono fijo:</strong><br/>{$fsc->cliente->telefono1}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono móvil:</strong><br/>{$fsc->cliente->telefono2}
         </div>
         {if="$fsc->servicios_setup['servicios_mostrar_material']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_material']}</strong><br/>{$fsc->servicio->material}
         </div>
         {/if}
          {if="$fsc->servicios_setup['servicios_mostrar_material_estado']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_material_estado']}</strong><br/>{$fsc->servicio->material_estado}
         </div>
         {/if}
         {if="$fsc->servicios_setup['servicios_mostrar_accesorios']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_accesorios']}</strong><br/>{$fsc->servicio->accesorios}
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_descripcion']}</strong><br/>{$fsc->servicio->descripcion}
         </div>
         {if="$fsc->servicios_setup['servicios_mostrar_solucion']"}
         <div class="col-xs-12">
            <strong>{$fsc->st['st_solucion']}:</strong><br/>{$fsc->servicio->solucion}
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>Observaciones:</strong><br/>{$fsc->servicio->observaciones}
         </div>
      </div>
      <div class="col-xs-6">
         <div class="col-xs-12">
            <div class="col-xs-6">
            <h4><strong>Comienzo:</strong><br/>{$fsc->servicio->fechainicio}</h4>
         </div>
         <div class="col-xs-6">
            <h4><strong>Finalización:</strong><br/>{$fsc->servicio->fechafin}</h4>
         </div>
         </div>
         
         <br/>
         <b>Notas:</b>
         <br/>  
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
      </div>
   </div>
</div>
{/if}

{include="footer2"}