{include="header"}

{if="!$fsc->servicio"}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="thumbnail">
            <img src="{#FS_PATH#}view/img/fuuu_face.png" alt="fuuuuu"/>
         </div>
      </div>
   </div>
</div>
{elseif="$fsc->terminal"}
<script type="text/javascript">
   $(document).ready( function() {
      setTimeout(
         function() 
         {
            window.close();
         }, 3000
      );
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <i class="fa fa-print" aria-hidden="true"></i>&nbsp;
               Imprimiendo &nbsp; <i class="fa fa-refresh fa-spin"></i>
            </h1>
         </div>
         <pre>
            <code>{$fsc->terminal->tickets}</code>
         </pre>
      </div>
   </div>
</div>

<div class="hidden">
   <img src="http://localhost:10080?terminal={$fsc->terminal->id}" alt="remote-printer"/>
</div>
{else}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <i class="fa fa-desktop" aria-hidden="true"></i>&nbsp;
               Elige un terminal donde imprimir
               <a href="#" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal_ayuda_terminal">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
               </a>
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      {loop="$fsc->terminales"}
         <div class="col-sm-4">
            <a href="{$fsc->url()}&terminal={$value->id}" class="btn btn-block btn-default">
               <i class="fa fa-desktop" aria-hidden="true"></i>&nbsp; Terminal {$value->id}
            </a>
         </div>
      {else}
         <div class="col-sm-6">
            <a href="index.php?page=tpv_caja#terminales" class="btn btn-block btn-info">
               <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp; Administrar terminales
            </a>
            <p class="help-block">
               Los terminales son la suma de PC + impresora de tickets + cajón
               portamonedas. Ahora mismo no tiene ninguno disponible, bien porque
               no hay configurado ningún terminal, o bien porque están todos
               ocupados.
            </p>
         </div>
      {/loop}
   </div>
</div>

<div class="modal fade" id="modal_ayuda_terminal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">¿Qué es un terminal?</h4>
         </div>
         <div class="modal-body">
            <p class="help-block">
               Los terminales son la suma de PC + impresora de tickets + cajón portamonedas.
            </p>
            <div class="thumbnail">
               <img src="{#FS_PATH#}plugins/facturacion_base/view/img/cajon.jpg" alt="tpv"/>
            </div>
            <p class="help-block">
               Puedes configurar los terminales desde el menú <b>TPV &gt; Arqueos y terminales</b>.
            </p>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}