{include="header2"}
         <div role="tabpanel" class="tab-pane active" id="servicio">
          <div class="container-fluid" style="margin-top: 10px;">   
          <div class="row">
                  <div class="col-sm-4">
                     <div class="form-group">
                        Material entregado:
                        <textarea class="form-control" name="material" rows="5">{$fsc->servicio->material}</textarea>
                     </div>
                  </div>
                 
                  <div class="col-sm-4">
                     <div class="form-group">
                        Estado del material:
                        <textarea class="form-control" name="estado" rows="5">{$fsc->servicio->estado}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        Accesorios que entrega
                        <textarea class="form-control" name="accesorios" rows="5">{$fsc->servicio->accesorios}</textarea>
                     </div>
                  </div>
          </div>            
          <div class="row">
                  <div class="col-sm-6">
                     <div class="form-group">
                        Descripción de la reparación:
                        <textarea class="form-control" name="descripcion" rows="5">{$fsc->servicio->descripcion}</textarea>
                     </div>
                  </div>
                 
                  <div class="col-sm-6">
                     <div class="form-group">
                        Solución
                        <textarea class="form-control" name="solucion" rows="5">{$fsc->servicio->solucion}</textarea>
                     </div>
                  </div>
           </div>   
              
          </div>
         </div>
{include="footer2"}